*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    
}
/*----ESTILOS HEADER----*/
header{
    
    width: 100%; 
    background: url('../imagenes/bg.jpg') #281a28;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}
header .contenedor{
    position: relative;
    height: 700px;  
}
header .menu{
    width: 100%;
    text-align: right;
}
header .menu a{
    color: rgb(254, 255, 255);
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
}
header .menu a:hover{
    color: rgb(240, 107, 30);
    text-decoration: underline;
}
header .texto{
    width: 100%;
    color: beige;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}
header .texto .nombre{
    font-size: 50px;
    font-weight: 600;
}

header .texto .nombre span{
    font-weight: 300;
}
header .texto h3{
    font-style: italic ;
    font-weight: 300;
    font-size: 25px;
}

/*--MAin--*/

.main{
    background: url('../imagenes/bg-textura.jpg');
    background-repeat: repeat;
}
.main .acerca-de .contenedor{
    overflow: visible ;
    position: relative;
}
.main .acerca-de .foto{
    width: 80%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;
    box-shadow: 0px 0px 15px rgba(145, 103, 12, 0.979);
}
.main .acerca-de .foto img{
    vertical-align: top;
    width: 100%;
}
.main .acerca-de article{
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: -80px;
    z-index: 1;
    float: right;
    box-shadow: 15px 15px 15px rgba(197, 147, 8, 0.35);
}
.main .acerca-de article h3{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}
.main .acerca-de article p{
    line-height: 28px;
    margin-bottom: 15px;
}